<!DOCTYPE html>
<html lang="en">
<head>
  <title>Geolocalizacion App</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://getbootstrap.com/docs/3.4/dist/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="../js/index.js"></script>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCLSFk8loDLMqzNpI-YIYMwmsI0syMaiyg&callback=initMap"></script>
</head>
<style>
.page-header{
    margin-top: 0;
}
footer{
    margin-top: 40px;
}
</style>
<body>
        <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation"><a href="/users/logout">Logout</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">Geolocalizacion App</h3>
      </div>
        <ul id="myTabs" class="nav nav-tabs nav-justified">
          <li class="active"><a href="#GPS" data-toggle="tab">GPS</a></li>
          <li><a href="#Historial" data-toggle="tab">Historial</a></li>
        </ul>
        <div class="tab-content">
          <div role="presentation" class="tab-pane fade in active" id="GPS">
            <div id="map" style="width:100%;height:400px;"></div>  
            <center>
                <input type="submit" class="btn btn-primary btn-block btn-lg" id="start" value="Start tracking">
                <p id="failed" style="color:#bd1a1a ;display: none;text-align: center";>Position Failed. </p>
              </center>            
          </div>
          <div role="presentation" class="tab-pane fade" id="Historial">
              <center>
                  <h3 style="margin-top: 0;color:#001a14">My Trips </h3>
                  <table class="table table-bordered table-hover" id="tab_logic">
                      <thead>
                        <tr >
                          <th class="text-center">
                            #
                          </th>
                          <th class="text-center">
                            Longitud
                          </th>
                          <th class="text-center">
                            Latitud
                          </th>
                          <th class="text-center">
                              Hora
                          </th>
                          <th class="text-center">
                              Fecha
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                          <tr id='addr0'></tr>
                      </tbody>
                    </table>
                </center>
          </div>
        </div>
        

      <footer class="footer">
        <p>&copy; 2019-1 Topicos en telematica Esteban Perez Noreña</p>
      </footer>

    </div> <!-- /container -->
    </body>
</html>
