<!DOCTYPE html>
<html lang="en">
<head>
  <title>Geolocalizacion App</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://getbootstrap.com/docs/3.4/dist/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="../js/register.js"></script>
</head>
<style>
 .page-header{
      margin-top:0;
  }

  footer{
      margin-top: 40px;
  }
</style>
<body>
        <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation"><a href="/users/authenticateUser">Login</a></li>
            <li role="presentation"><a href="/users/registerUser">Register</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">Geolocalizacion App</h3>
      </div>

      <div class="login-form"> 
        <form onsubmit="return false;">
          <h2 class = "page-header">Register</h2>
            <div class="form-group">
                <label>Username</label>
                <input type="text" class="form-control" placeholder="Username" name="username" id="username">
            </div>
            <div class="form-group">
                <label>Email</label>
                <input type="email" class="form-control" placeholder="Email" name="email" id="email">
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control" placeholder="Password" name="password" id="password">
            </div>
            <input type="submit" class="btn btn-primary btn-block btn-lg" id="register" value="Register">
            <p id="failed" style="color:#bd1a1a ;display: none;text-align: center";>Register failed. Please try again. </p>
        </form>
                </div>
      <footer class="footer">
        <p>&copy; 2019-1 Topicos en telematica Esteban Perez Noreña</p>
      </footer>

    </div> <!-- /container -->
    </body>
</html>